@model RentWheels.Models.RegisterDetail
@{
    ViewBag.Title = "Verify OTP";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-container">
                <div class="text-center">
                    <img class="logo" src="~/Content/images/logo2.jpg" alt="Logo">
                    <h2>Verify OTP</h2>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter OTP" } ,id = "emailorphone"})
                        </div>
                        @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (ViewBag.OTPMessage != null)
{
    <script>
        window.onload = function () {
            generateotp();
        };

        function generateotp(){
            $.ajax({                
                success: function (otp) {
                    
                    alert("OTP sent successfully! Your OTP is: " + otp);
                },
                error: function (error) {
                    console.error("Error fetching OTP: ", error);
                }
            });
        }
    </script>
}

