/* Reset and General Styles */
body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Typography */

/* Navbar Styles */
.my-navbar {
    margin-top: 10px;
    border-radius: 10px;
    margin: 10px 5%;
}

/* Navbar Brand */
.navbar-brand img {
    height: 20px;
    width: auto;
}

/* Navbar Links */
.my-navbar .navbar-nav > li > a {
    color: #fff;
}

.my-navbar .navbar-nav > li > a:hover,
.my-navbar .navbar-nav > li > a:focus {
    background-color: #2980b9;
}

/* Media Queries */
@media (max-width: 767px) {
    .my-navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #2980b9;
    }
}

/* Footer Styles */
.footer {
    background-color: rgba(220, 220, 220, 0.71);
    padding: 50px 0;
    color: #333;
    border-radius: 10px;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.footer h5 {
    color: #0056b3;
}

/* Social Icons */
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #555;
}

.social-icons a:hover {
    color: #007bff;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

/* Buttons */
.btn-secondary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Custom Positioning and Unique Elements */
.navbar-right-center {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.username {
    color: #fff; /* Unique color for the username */
    margin-top: 15px; /* Adjust as needed for vertical centering */
}
